/*CSS*/
body {
	background: $bg-color;
	font-family: $font-stack;
	color: $font-color;
}

h1,
h2,
h3 {
	font-family: $font-title;
}

a {
	font-family: $font-links;
}

p {
	font-family: $font-copy;
}

nav {
	border: 1px solid $font-color;
	text-align: center;
	padding: 10px;
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding-right: 20px;
			a {
				text-decoration: none;
				font-family: $font-links;
			}

			a:link,
			a:active {
				color: black;
			}

			a:hover,
			a:active {
				color: yellow;
				background: black;
			}
		}
	} 
}