/*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Oxygen|Share+Tech+Mono);

/*VARIABLES*/
$font-stack: helvetica, serif;

$font-title: 'Playfair Display', serif;
$font-copy: 'Oxygen', sans-serif;
$font-links: 'Share Tech Mono', monospace;

$bg-color: rgba(114,211,134,.9);
$font-color: rgba(255,255,255,.9);